@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #E7DFDD;
    background-color: #09080e;
}

.container{
    
}

.calculator {

    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: #0E0B16;
    padding: 40px;
    border-radius: 8px;
        
}

h1 {

    margin-top: -20px;
    margin-bottom: 10px;

}

#result {

    background-color: #E7DFDD;
    color: #09080e;
    width: 220px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-left: 5px;
    
}

button {
    
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #4717f6;
    color: #E7DFDD;
    font-size: 1.2em;
    border:none;
    border-radius: 2px;
    cursor: pointer;
    margin: 1px;
}

button:hover {
    background-color: #2604a1; 
}

